<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--<div id="app"><input type="text" v-model="inner.content" style="margin-right: 20px">{{ inner.content }}<ul><li v-for="student in students" >{{student}}</li></ul></div>-->
<div id="app"><input type="text" v-model="inner.content" style="margin-right: 20px">{{ inner.content }}</div>
<script src="./observe.js"></script>
<script src="./deep.js"></script>
<script src="./watcher.js"></script>
<script src="./compile.js"></script>
<script src="./index.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            inner: {content: 'hello, world!'},
            students: ['kor', 'Lee']
        }
    });
</script>
</body>
</html>
